.header{
    background-color: white;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    padding: 8px;
}
body{
    background-color: #eee;
    margin: 0;
}

.logo{
    color: rebeccapurple;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

.profile-img{
    background-color: rebeccapurple;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.left, .right{
    display: flex;
    justify-content:center;
    gap:16px
}

button{
    border:none;
    border-radius: 8px;
    background-color: rebeccapurple;
    color: white;
    padding: 8px 24px;
}

a{
   text-decoration: none;
   color: rebeccapurple;
}
li{
    margin: 10px;
}
